<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a routerLink=""><img src="/assets/images/logo.jpg" class="logo"></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 1em;"routerLink="/products">Products</a>
        </li>
        
        
      
      
      
        <ng-container *ngIf="authService.isAuth; else notAuth">

          <li class="nav-item lim">
            <a class="nav-link" routerLink="/cart">Cart</a>
         </li>

         <li class="nav-item lim">
          <a (click)="logout()" class="nav-link" routerLink="/cart">Log out</a>
         </li>

        </ng-container>
       <ng-template #notAuth>
        <li class="nav-item lim">
          <a class="nav-link"  routerLink="/auth/register">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
       </ng-template>

      </ul>
    </div>
  </div>
</nav>
