<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
  <div class=" container-fluid">
    <div>
      <a routerLink=""><img src="/assets/images/logo.jpg" class="logo"></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 1em;"routerLink="/products">Products</a>
        </li>
     
        <ng-container *ngIf="authService.isAuth; else notAuth">
        
          
            <a class="nav-link" routerLink="/cart">Cart <span class="badge bg-danger">{{cartsCount}}</span></a>
         
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{authService.email}}
            </button>
            <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" routerLink="/content-manager">Product manager</a></li>
              <li><a class="dropdown-item" (click)="logout()" routerLink="/cart">Log out</a></li>
            </ul>
          </div>
        </ng-container>

       <ng-template #notAuth>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          User side
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  routerLink="/auth/register">Sign up</a></li>
          <li><a class="dropdown-item" routerLink="/auth/login">Login</a></li>
        </ul>
         </div>
       </ng-template>

      </ul>
    </div>
  </div>
</nav>
