

<div class="col-md-4 col-md-offset-4" id="login">
  <section id="inner-wrapper" class="login">
    <article>
      <form [formGroup]="form" (ngSubmit)="submit()">
       
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-envelope"> </i></span>
            <input 
            [class.is-invalid]="getEmail?.invalid && getEmail?.touched"
            type="email" 
            class="form-control" 
            placeholder="Email Address"
            formControlName="email"
            >
          </div>
          <small class="form-group"  *ngIf="getEmail!.errors?.['required'] && getEmail?.touched" class="text-danger">Email is required</small>
          <small *ngIf="getEmail?.errors?.['email'] && getEmail?.touched" class="text-danger">Email form isn't correct </small>       
         </div>      
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-key"> </i></span>
            <input 
            type="password" 
            class="form-control" 
            placeholder="Password"
            formControlName="password"
            >
          </div>
          <small *ngIf="getPassword!.errors?.['required'] && getPassword?.touched" class="text-danger">Password is required</small>
          <small *ngIf="getPassword?.errors?.['minlength'] && getPassword?.touched" class="text-danger">Password must be min 3 character </small>
          <small *ngIf="getPassword?.errors?.['maxlength'] && getPassword?.touched" class="text-danger">Password must be max 10 character </small>
          
        </div>
          <button type="submit" class="btn btn-dark btn-block">Submit</button><br>
          <div>
            <h6>Don't have an account? Follow the link <i class="fa fa-arrow-down btn-danger" aria-hidden="true"></i></h6>
            
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block" routerLink="/auth/register">sign up now</button>

      </form>
    </article>
  </section></div>
