<div style="margin-top: 3px" class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div> <h4>Products</h4> </div>
    <div>
      <button class="btn btn-dark" routerLink="/content-manager/product/add">Add Product</button>
    </div>

  </div>


</div>
<table style="margin-top: 10px" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>